@font-face {
  font-family: "basic-font";
  src: url(/sponge.ttf);
}

:root {
  --basic: "basic-font";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: rgb(236, 228, 157);
  background-image: linear-gradient(180deg, rgb(248, 231, 137), rgb(221, 175, 76));
  font-family: var(--basic);
  cursor: url(/cursor.png) 34 34, auto;
}

a {
  cursor: pointer;
}

p {
  color: rgb(53, 53, 245);
}

h1 {
  font-size: 10rem;
  color: rgb(52, 52, 240);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.banner {
  width: 800px;
  height: auto;
  border-radius: 5px;
}

.links {
  display: flex;
  gap: 50px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
  justify-content: center;
  align-items: center;
}

.lore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
  margin: 2rem 0;
}

.pop {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

.item img {
  width: 35dvw;
  border-radius: 5px;
}

.item {
  display: flex;
  flex-direction: column;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 20px 0px;
}

@media screen and (max-width: 699px) {
  .item img {
    width: 250px;
  }

  h1 {
    font-size: 2rem;
  }

  .header {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .header p {
    font-size: 0.75rem;
    text-align: center;
  }

  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .item p {
    width: 70%;
    text-align: center;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner {
    width: 350px;
  }

  .lore {
    font-size: 0.8rem;
    padding: 0 1rem;
    text-align: left;
  }
}